---
// src/pages/index.astro
import BaseLayout from '@/layouts/BaseLayout.astro';
import Navbar from '@/components/layout/Navbar';
import Services from '@/components/sections/Services.astro';
import Contact from '@/components/sections/Contact.astro';
import { sanityClient } from '@/lib/sanity';
import Hero from '@/components/sections/Hero.astro';
import About from '@/components/sections/About.astro';

// Fetch nama perusahaan untuk Navbar
const companyInfo = await sanityClient.fetch(
  `*[_type == "companyInfo"][0]{ companyName }`,
);
const brandName = companyInfo?.companyName || 'CorpBrand.';
---

<BaseLayout title='Home'>
  <Navbar
    companyName={brandName}
    client:load
  />

  <main class='pt-16'>
    <Hero />
    <About />
    <Services />
    <Contact />
  </main>
</BaseLayout>
